@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --bg-color: #e91e1e;
    --border-radius: 10px;
    --main-padding: 20px;
    --text-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    max-width: 598px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: var(--main-padding);
    color: var(--text-color);
    text-align: center;
}

